/* PHASE 0: Sidebar */

.profile-picture img{
    margin-top: -120px;
    position: relative;
    border: 1px solid black;
}

.profile-info h3{
    font-size: 25px;
}

.profile-nav li {
    border-top: 1px solid gray;
    font-weight: 700;
    padding: 6px 0px 6px 0px ;
}

.profile-nav li:hover {
    background-color: rgb(241, 241, 241);
    cursor: pointer;
}

.profile-nav li:last-child {
    border-bottom: 1px solid gray;
}

.profile-nav {
    margin-top: 20px;
    margin-bottom: 30px;
}